<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口代理-->
<mapper namespace="com.xr.logistics.dao.SorStorageMapper">

    <!--入库查询所有-->
    <select id="select" resultType="SorStorage">
       select SOR_Storage.ID,SOR_Storage.AcceptDate,a.EmpName,SOR_Storage.AcceptCompany,b.EmpName SorName,SOR_Storage.DeliveryCompany from SOR_Storage,SY_Emp a,SY_Emp b where SOR_Storage.AcceptPerson=a.ID and SOR_Storage.DeliveryPerson=b.ID
    </select>
</mapper>
